<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/main-logged-page.css">
</head>
<body>
    <%- include('_header') %>
    <div class="main-container">
        Błąd systemu. Wyloguj sie z konta
    </div>
</body>
</html>