<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="container">
        <p><a style="padding-bottom: 20px;" href="login-secure">Wersja bezpieczna aplikacji</a></p>
        <p><a href="login">Wersja niebezpieczna aplikacji</a></p>
    </div>
</body>
</html>